.card-main-div {
    padding-top: 3px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px rgb(187 194 220 / 60%);
    border-left: 2px solid #188dc7;
    border-top: 1px solid #cfcbcb;
    margin: 0px 0px 20px 0px !important;
    padding: 10px 0px 10px 0px;
    border-right: 1px solid #cfcbcb;
}

.card-main-div:hover {
    box-shadow: 3px 5px 8px rgb(187 194 220 / 60%);
    opacity: 1;
    text-decoration: none;
}

.dollerPrice {
    color: black;
    font-size: 15px;
    font-weight: 700;
}

.openColor {
    color: #188dc7;
    font-size: 14px;
    font-weight: 700;
}

.fontServerandDate {
    font-size: 14px;
}

.leftmainDiv {
    height: 585px;
    overflow: auto;
    overflow-x: hidden;
}

.card-main-div h4 {
    margin: 0px 0px 10px 0px !important;
}

.icon {
    font-size: 18px !important;
}