.animation {
    animation: Animation 2s ease-in-out infinite alternate-reverse both;
}

@keyframes Animation {
    0% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(-15px);
    }
}

.LoginBtn {
    color: #ffffff;
    margin-left: 11px;
    background: #188dc7;
    padding: 4px 20px;
    transition: .5s;
    border-radius: 20px;
    border: 2px solid #188dc7;
}

.LoginBtn:hover {
    color: black;
    border: 2px solid #188dc7;
    background: #8fc1e2;
}

.LoginPlatforms {
    height: 50px;
    width: 100%;
}

.LoginFields {
    align-items: center;
    border-radius: 10px;
    width: 48%;
    background-color: #edecec;
}

.googleImage img {
    height: 20px;
    width: 20px;
}